{
  "extends": "eslint:recommended",
  "globals": {
    "document": true,
    "THREE": true,
    "Promise": true,
    "chai": true,
    "spy": true,
    "stub": true,
    "expect": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "no-console": [ 0 ]
  },
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true,
    "node": true
  }
}
