{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "globals": {
    "document": true,
    "THREE": true,
    "Promise": true,
    "chai": true,
    "spy": true,
    "stub": true,
    "expect": true
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  }
}
