{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "globals": {
    "document": true,
    "THREE": true,
    "Promise": true
  },
  "rules": {
    "no-console": [ 0 ]
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  }
}
